.navbar p.pull-right {
	color: #999;
}

.form-horizontal .control-label {
	width: 100px;
}

.form-horizontal .controls {
	margin-left: 120px;
}

.tm-menu {
	position: fixed;
	top: 70px;
	width: 150px;
	padding: 5px 0px;
	font-size: large;
} 

.tm-menu li a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.tm-content {
	margin-top: 70px;
}

.tm-content .well {
	padding-top: 10px;
}

.tm-content h2 {
	margin-top: 0px;
	padding-bottom: 0px;
}

.tm-task {
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.tm-task .ui-icon {
	float: right;
	margin-right: 2px;
	margin-bottom: 10px;
}

.tm-task .handle {
	cursor: move;
}

.tm-task .label {
	margin-left: 20px;
}

.tm-toggle {
	cursor: pointer;
}

.tm-toggle-off {
	display: none;
}

.tm-detail {
	margin-top: 20px;
}

.tm-task-btn {
	width: 100px;
}

.tm-task-return-btn {
	width: 80px;
}
